table tr:nth-child(even) {
    background-color: lightblue; /* light gray for even rows */
  }

  table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  