 .marquee {
    position: relative;
    overflow: hidden;
  }
  
  .marquee p {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  